.donate {
	text-align: center;
	padding-top: 1rem;
	color: #cecece;
}

.donate-section {
	background: #121212;
}

.donate-blocks {
	display: block;
}

.donate-img {
	padding-right: 5px;
}

.donate-options {
	text-align: center;
	color: #cecece;
}

.kmikiy-section {
	padding: 20px 10px 20px 10px;
	color: #aaaaaa;
}

.bg-color {
	background: #020202;
}

.soc-item {
	padding: 5px;
}