<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppleEventsUsageDescription</key>
	<string>This app needs permission to control Spotify / Apple Music using AppleScript.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.github.kmikiy.SpotMenu</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.github.kmikiy.spotmenu</string>
			</array>
		</dict>
	</array>
	<!-- Sparkle Update Configuration -->
	<key>SUPublicEDKey</key>
	<string>BzDKlhTkBhiTizw1GoS4Lxq7rWs7fh2vZuHz3OojDuE=</string>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/kmikiy/SpotMenu/master/appcast.xml</string>
	<!-- Enable Sparkle's Installer XPC Service for sandboxed updates -->
	<key>SUEnableInstallerLauncherService</key>
	<true/>
</dict>
</plist>
